# see https://help.github.com/en/articles/about-code-owners#example-of-a-codeowners-file

* @pagopa/selfcare-contributors @antonioT90 @MarioDolci9 @MarveTedah @diegolagospagopa @SalvatorManna @gianmarcoplutino @KevinSi96
