/* Montserrat normal */
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src:
  url("/assets/developer/font/Montserrat/Montserrat-Light.woff2") format("woff2"), 
  url("/assets/developer/font/Montserrat/Montserrat-Light.woff") format("woff"), 
  url("/assets/developer/font/Montserrat/Montserrat-Light.ttf") format("truetype")
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: 
  url("/assets/developer/font/Montserrat/Montserrat-Regular.woff2") format("woff2"), 
  url("/assets/developer/font/Montserrat/Montserrat-Regular.woff") format("woff"), 
  url("/assets/developer/font/Montserrat/Montserrat-Regular.ttf") format("truetype")
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: 
  url("/assets/developer/font/Montserrat/Montserrat-Bold.woff2") format("woff2"), 
  url("/assets/developer/font/Montserrat/Montserrat-Bold.woff") format("woff"), 
  url("/assets/developer/font/Montserrat/Montserrat-Bold.ttf") format("truetype")
}

/* Montserrat italic */
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: italic;
  font-weight: 300;
  src:
    url("/assets/developer/font/Montserrat/Montserrat-LightItalic.woff2") format("woff2"),
    url("/assets/developer/font/Montserrat/Montserrat-LightItalic.woff") format("woff"),
    url("/assets/developer/font/Montserrat/Montserrat-LightItalic.ttf") format("truetype")
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src:
    url("/assets/developer/font/Montserrat/Montserrat-Italic.woff2") format("woff2"),
    url("/assets/developer/font/Montserrat/Montserrat-Italic.woff") format("woff"),
    url("/assets/developer/font/Montserrat/Montserrat-Italic.ttf") format("truetype")
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  src:
    url("/assets/developer/font/Montserrat/Montserrat-BoldItalic.woff2") format("woff2"),
    url("/assets/developer/font/Montserrat/Montserrat-BoldItalic.woff") format("woff"),
    url("/assets/developer/font/Montserrat/Montserrat-BoldItalic.ttf") format("truetype")
}


/* Roboto normal */
@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src:
    url("/assets/developer/font/Roboto/Roboto-Light.woff2") format("woff2"),
    url("/assets/developer/font/Roboto/Roboto-Light.woff") format("woff"),
    url("/assets/developer/font/Roboto/Roboto-Light.ttf") format("truetype")
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src:
    url("/assets/developer/font/Roboto/Roboto-Regular.woff2") format("woff2"),
    url("/assets/developer/font/Roboto/Roboto-Regular.woff") format("woff"),
    url("/assets/developer/font/Roboto/Roboto-Regular.ttf") format("truetype")
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src:
    url("/assets/developer/font/Roboto/Roboto-Bold.woff2") format("woff2"),
    url("/assets/developer/font/Roboto/Roboto-Bold.woff") format("woff"),
    url("/assets/developer/font/Roboto/Roboto-Bold.ttf") format("truetype")
}

/* Roboto italic */
@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: italic;
  font-weight: 300;
  src:
    url("/assets/developer/font/Roboto/Roboto-LightItalic.woff2") format("woff2"),
    url("/assets/developer/font/Roboto/Roboto-LightItalic.woff") format("woff"),
    url("/assets/developer/font/Roboto/Roboto-LightItalic.ttf") format("truetype")
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src:
    url("/assets/developer/font/Roboto/Roboto-Italic.woff2") format("woff2"),
    url("/assets/developer/font/Roboto/Roboto-Italic.woff") format("woff"),
    url("/assets/developer/font/Roboto/Roboto-Italic.ttf") format("truetype")
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  src:
    url("/assets/developer/font/Roboto/Roboto-BoldItalic.woff2") format("woff2"),
    url("/assets/developer/font/Roboto/Roboto-BoldItalic.woff") format("woff"),
    url("/assets/developer/font/Roboto/Roboto-BoldItalic.ttf") format("truetype")
}