selc-d-spid-testenv.westeurope.azurecontainer.io

@matcher {
	not {
		path /users
	}
}

reverse_proxy @matcher localhost:8088 {
	header_up Host selc-d-spid-testenv.westeurope.azurecontainer.io
	header_up X-Forwarded-Host {host}
}