on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true
      environment_short:
        type: string
        required: true

env:
  STORAGE_ACCOUNT_NAME: "selc${{ inputs.environment_short }}contractsstorage"
  STORAGE_CONTAINER: "selc-{{ inputs.environment_short }}-contracts-blob"
  STORAGE_ACCOUNT_RG: "selc-${{ inputs.environment_short }}-contracts-storage-rg"  

jobs:

  publish:
    name: Publish contracts template ${{ inputs.environment }}
    runs-on: ubuntu-22.04
    environment: ${{ inputs.environment }}-cd
    permissions:
      id-token: write
      pull-requests: write

    steps:

      - name: Checkout
        id: checkout
        uses: actions/checkout@1f9a0c22da41e6ebfa534300ef656657ea2c6707
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Azure Login
        id: az_login
        uses: azure/login@92a5484dfaf04ca78a94597f4f19fea633851fa2
        with:
          client-id: ${{ secrets.ARM_CLIENT_ID }}
          tenant-id: ${{ vars.ARM_TENANT_ID }}
          subscription-id: ${{ vars.ARM_SUBSCRIPTION_ID }}

      - name: Upload to blob storage
        id: storage_upload
        uses: azure/CLI@b0e31ae20280d899279f14c36e877b4c6916e2d3
        # uses: azure/CLI@965c8d7571d2231a54e321ddd07f7b10317f34d9 # v2
        with:
          inlineScript: |
            az storage copy \
              --account-name "$STORAGE_ACCOUNT_NAME" \
              --account-key ${{ secrets.STORAGE_CONTRACTS_ACCOUNT_KEY }} \
              --destination-container "$STORAGE_CONTAINER" \
              --source './contracts/template/*' \
              --recursive
     
      - name: Azure Logout
        id: az_logout
        if: always()
        run: |
          az logout