on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true
      environment_short:
        type: string
        required: true
      agent:
        type: string
        required: true

env:
  STORAGE_ACCOUNT_NAME: "selc${{ inputs.environment_short }}contractsstorage"
  STORAGE_CONTAINER: "selc-${{ inputs.environment_short }}-contracts-blob"
  STORAGE_ACCOUNT_RG: "selc-${{ inputs.environment_short }}-contracts-storage-rg"  
  ARM_USE_OIDC: true
  ARM_USE_AZUREAD: true
  ARM_STORAGE_USE_AZUREAD: true

jobs:
  
  publish:
    name: Publish contracts template ${{ inputs.environment }}
    runs-on: ["${{ inputs.environment }}"]
    environment: ${{ inputs.environment }}-ci
    permissions:
      id-token: write
      pull-requests: write
      contents: read

    steps:

    - name: Checkout
      id: checkout
      uses: actions/checkout@1f9a0c22da41e6ebfa534300ef656657ea2c6707
      with:
        persist-credentials: false
        fetch-depth: 0

    - name: Upload to blob storage
      run: |
          ls -la

    - name: Azure Login
      id: az_login
      uses: azure/login@a65d910e8af852a8061c627c456678983e180302
      with:
        client-id: ${{ secrets.ARM_CLIENT_ID }}
        tenant-id: ${{ vars.ARM_TENANT_ID }}
        subscription-id: ${{ vars.ARM_SUBSCRIPTION_ID }}

    - name: Install azcopy
      run: |
        apt-get update
        apt-get install -y wget

        wget https://packages.microsoft.com/config/ubuntu/22.04/packages-microsoft-prod.deb
        dpkg -i packages-microsoft-prod.deb
        apt-get update
        apt-get install -y azcopy
        rm -f packages-microsoft-prod.deb
        
    - name: Upload to blob storage
      run: |
          az storage copy \
            --account-name "${{ env.STORAGE_ACCOUNT_NAME }}" \
            --account-key "${{ secrets.STORAGE_CONTRACTS_ACCOUNT_KEY }}" \
            --destination-container "${{ env.STORAGE_CONTAINER }}/contracts" \
            --source './src/core/contracts_template/contracts/*' \
            --recursive

    - name: Azure Logout
      id: az_logout
      if: always()
      run: |
        az logout        