name: Publish contract templates

on:
  push:
    branches:
      - main
    paths:
      - "/contracts/template/**"

  workflow_dispatch:
    inputs:
      env:
        type: choice
        description: Environment
        default: 'dev'
        options: 
        - dev
        - uat
        - prod
        
jobs:
  release_dev:
    uses: ./.github/workflows/call_publish_contracts_template.yml
    name: '[DEV] Selfcare Infra Release contracts template'
    if: ${{ (inputs.env == null) || inputs.env == 'dev' }}
    secrets: inherit
    with:
      environment: dev
      environment_short: d

  release_uat:
    uses: ./.github/workflows/call_publish_contracts_template.yml
    name: '[UAT] Selfcare Infra Release contracts template'
    if: ${{ inputs.env == 'uat' }}
    secrets: inherit
    with:
      environment: uat
      environment_short: u

  release_prod:
    uses: ./.github/workflows/call_publish_contracts_template.yml
    name: '[PROD] Selfcare Infra Release contracts template'
    if: ${{ inputs.env == 'prod' }}
    secrets: inherit
    with:
      environment: prod
      environment_short: p
